{% extends "base_template.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if form.errors %}
<p class="text-white">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p class="text-white">Su cuenta no tiene acceso a esta página. Para proceder,
    por favor inicie sesión con una cuenta que tenga acceso.</p>
{% else %}
<p class="text-white">Por favor inicie sesión para ver esta página.</p>
{% endif %}
{% endif %}
<div class="pt-4">
    <h3 class="text-white">PUBLICIDAD ONLINE</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'loginview' %}">
        {% csrf_token %}
        <div class="label-input m-3">
            <table>
                <tr>
                    <td class="text-white">{{ form.username.label_tag }}</td>
                    <td >{{ form.username }}</td>
                </tr>
                <tr>
                    <td class="text-white">{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
        </div>
        <div class="label-input">
            <input type="submit" class="btn btn-primary m-3" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <h4>{{ mensaje }}</h4>
    <div class="label-input">
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a class="btn btn-warning"  href="{% url 'password_reset' %}">Olvidó su contraseña?</a></p>
    </div>
</div>
{% endblock %}